body {
  background-image: url("/images/mobile-wallpaper.jpg");
  background-size: 100%;
  color: white;
  padding: 0rem 1rem 0 0rem;
  font-family: "Andale Mono", sans-serif;
  font-size: 0.9em;
}

li {
  list-style-type: none;
  margin: 0 0 1.2rem 0;
}

#container {
  margin: 0 1rem 0 2rem;
  width: 90%;
}

#home-container {
  margin: 0 0 0 2rem;
}

#desktop-nav-container {
  display: none;
}

#mobile-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0%;
  width: 93%;
  margin: 1rem 1rem 1rem 0.5rem;
}

#nav-name {
  font-size: large;
}

#header-menu {
  margin: 6rem 0 9rem 0;
  height: 8rem;
}

#header {
  margin: 9rem 0 2rem 0rem;
  height: 3rem;
}

#header-text {
  font-size: 1.1rem;
}

#header-top {
  display: flex;
  align-items: flex-end;
}

#header-bottom {
  margin: -0.5rem 0 0 0;
}

#header-top-left {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
}

.header-text {
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1.2rem;
}

#section-menu {
  margin: 2rem 0 0 -1rem;
}

/* #section-why {
  margin: 4rem 0 0 0;
} */

.menu-options a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
}

.home-options a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

#menu-title {
  font-size: 1.4rem;
  margin: 0 0 1.5rem 4.6rem;
  text-decoration: underline;
}

#div-blog {
  margin: 0 0 7rem 0;
}

#div-blog {
  margin: 0 0 7rem 0;
}

.blog-article {
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  margin: 3rem 0 0 0rem;
  background-color: whitesmoke;
  color: black;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0%;
  font-size: smaller;
}

#menu-footer-text {
  color: black;
}

/* IMAGES */

.mobile-nav-icons {
  width: 2rem;
  height: 2rem;
}

#faclogo {
  width: 5rem;
}

#header-profile-pic {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin: 0rem 0 1rem 1rem;
}

/* POPUP MENU */
#menu-container {
  margin: -0.6rem;
  padding: 2rem 0rem 0rem 0.4rem;
  background-color: white;
  width: 20rem;
  height: 100vh;
  color: black;
}

.popup-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .trophy-image {
    width: 12rem;
  }

  .wip-images {
    margin: 0.2rem 0 0 0;
    width: 3.7rem;
  }

  #home-container {
    display: flex;
    margin: 9rem 0 0 0;
  }

  #desktop-nav-container {
    display: none;
  }

  #header {
    margin: 4rem 0 5rem 0rem;
    height: 0.2rem;
  }

  #header-text {
    font-size: 1.1rem;
  }

  #header-menu {
    margin: 2rem 4rem 0rem 0;
    height: 8rem;
  }

  #container {
    max-width: 40rem;
    margin: 5rem 0 0 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project-title {
    width: 50rem;
  }

  #section-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #div-blog {
    margin: 0 0 5rem 0;
  }
}

@media screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #mobile-nav-bar {
    display: none;
  }

  #gallery-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #container {
    margin: 0rem 0rem 1rem 0rem;
    max-width: 50rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .trophy-image {
    width: 17rem;
    margin: 0 0.1rem 0 0;
  }

  .wip-images {
    margin: 0.2rem 0 0 0;
    width: 4rem;
  }

  #desktop-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    margin: 1rem 1rem -1rem 0.5rem;
  }

  #desktop-nav-content-left {
    display: flex;
    width: 12rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #desktop-nav-content {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #desktop-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 0 0 0;
    min-width: auto;
  }

  .desktop-nav-li {
    margin: 0 0 0 3.5rem;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
  }

  .mobile-nav-icons {
    width: 3rem;
    height: 3rem;
    margin: 0 2rem 0rem 0rem;
  }
}
